<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let icon of iconsServer" routerLink="/detalle">
      <ion-icon [name]="icon.icon" slot="start"></ion-icon>
      {{icon.name}}
      <div class="item-note" slot="end">
        {{icon.name}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->

  {{mensaje}}
  <ion-list>
    <ion-item>
      <ion-label fixed>Mensaje</ion-label>
      <ion-input type="text" [(ngModel)]="mensaje"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
